// 主题颜色
$common-color-orange: #ff7400;

// 背景色
$common-color-background: #f3f4f5;

// 边框颜色
$common-color-border: #eee;

// 激活色
$common-color-active: #e0e0e0;

// 基础色
$common-color-black: #000;
$common-color-dark: #222;
$common-color-white: #fff;
$common-color-light: #ccc;
$common-color-lighter: #d8d8d8;

// 灰色
$common-color-gray-darker: #333;
$common-color-gray-dark: #494949;
$common-color-gray: #666;
$common-color-gray-light: #999;
$common-color-gray-lighter: #aaa;

// 红色
$common-color-red-darker: #c30;
$common-color-red: #fe4949;
$common-color-red-light: #eb5d6d;
$common-color-danger: #ff3141;

// warming
$common-color-warming:#ff8f1f;

// 绿色
$common-color-green: #65b70c;
$common-color-green-light: #83ecb8;

// 蓝色
$common-color-blue: #53a9ff;

// 外部应用
$app-color-qq: #007dfe;
$app-color-weibo: #ce281a;
$app-color-douban: #22ac38;
$app-color-renren: #004da1;
$app-color-wechat: #3eb74f;
$app-color-alipay: #0aaff4;
